@import "../scss/sections/header";
@import "../scss/style";
@import "../scss/sections/section-one";
@import "../scss/reset";
@import "../scss/style";
@import "../scss/sections/section-two";


$purple-dark: #6C5CE7;
$color-title: #2D3436;


body{
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  max-width: 1440px;
  margin: 0 auto;
}

.content{
  max-width: 1170px;
  margin: 0 auto;
}

p{
  font-size: 18px;
  font-weight: 400;
  color: $color-title;
}

.btn{
  cursor: pointer;
  outline: none;
  font-weight: 700;
}
.btn-simple {
  border: 1px solid #6C5CE7;
  border-radius: 20px;
  color: $purple-dark;
}
.btn-purple {
  border-radius: 20px;
  color: #FFFFFF;
  background-color: $purple-dark;
}

.btn-primery{
  color: #FFFFFF;
  background-color: $purple-dark;
  border-radius: 40px;
}

.title {
  color: $color-title;
}

.color1{
  background-color: #E84393;
}
.color2{
  background-color: #0984E3;
}
.color3{
  background-color: #6C5CE7;
}
.color4{
  background-color: #00B894;
}
