.footer {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 390px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__icon {
  }

  &__dird {
  }

  &__right {
    gap: 32px;
    display: flex;
    align-items: center;
  }

  &__license {
  }

  &__underline {
    background-color: black;
    width: 100%;
    text-align: center;
    span {
      color: white;
    }
  }
}
.inner {
}
