.hero {

  &__inner {
    max-height: 1000px;
    padding-top: 20px;
    background: url(/cyberpunk/images/section1/bg1.jpg);
  }

  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__main-box {
    padding-top: 532px;
    display: flex;
    justify-content: end;
  }

  &__list{
    display: flex;
    flex-direction: row;
    gap: 40px;
  }


  &__info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding-left: 70px;
    background-color: #F8F200;
    width: 624px;
    height: 369px;
    clip-path: polygon(8% 0%, 100% 0%, 100% 85%, 92% 100%, 0% 100%, 0% 15%);
  }

  &__info-text {
    display: inline-flex;
    text-align: left;
    font-size: 62px;
    font-weight: 400;
    line-height: 63.3px;
  }

  &__info-link {
    width: 272px;
    height: 78px;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
  }

}
