.two {

  &__inner {
    min-height: 777px;
    padding-top: 70px;
  }

  &__content {
  }

  &__text {
    padding: 25px 0 70px 0;
    color: rgba(0, 0, 0, .65);
  }


  &__img-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__img-subbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

