.header {

  &__inner {
    background: #ffffff;
  }

  &__cozy {
    color: #545454;
  }

  &__boston {
    color: #292929;
  }

  .pets-nav-el {
    color: #545454;
  }
}

.our-pets {

  &__inner {
    box-sizing: border-box; 
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #F6F6F6;
    margin: 0 auto;
    width: 1280px;
    height: 1340px;
  }

  &__content{
    height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    width: 1200px;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__navigator{
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
  }
  .circle-center{
    box-sizing: border-box;
    background-color: #F1CDB3;
    display: flex;
    align-items: center;
    padding-left: 21px;
  }
  .circle-left{
  }
}


