html {
  margin: 0 auto;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
}
.header .header_main {
  background: url(/shelter/img/header/start-screen-background.jpg);
}
.header__menu {
  padding-top: 30px;
  height: 60px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__cozy {
  min-width: 184px;
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  text-align: left;
}
.header__boston {
  min-width: 179px;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-align: left;
}
.header__nav {
  align-items: center;
  min-width: 443px;
  display: flex;
  justify-content: space-between;
}
.header .first-nav {
  border-bottom: 3px solid #F1CDB3;
}
.header__nav-el {
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #CDCDCD;
}
.header__start {
  display: flex;
  height: 728px;
}
.header__left {
  padding-top: 163px;
  max-width: 460px;
  height: 322px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header__title {
  color: #ffffff;
  margin: 0;
  max-width: 310px;
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57.2px;
  text-align: left;
}
.header__left-text {
  color: #ffffff;
  margin: 0;
  max-width: 460px;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.header__link {
  width: 207px;
  height: 52px;
}
.header__text {
  background-color: #F1CDB3;
}

.container {
  min-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.about__inner {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 588px;
}
.about__border {
  margin: 0 40px;
  padding-top: 80px;
  display: flex;
  min-width: 1200px;
  height: 408px;
}
.about__pets {
  min-width: 600px;
}
.about img {
  display: inline-block;
  padding-left: 175px;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 600px;
}
.about__title {
  display: inline-block;
  margin: 0;
  max-width: 370px;
}
.about p {
  margin: 0;
  max-width: 430px;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.title-sample {
  margin: 0;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}

.pets__wrapper {
  height: 877px;
}
.pets__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  margin: 0 auto;
  width: 1280px;
  height: 697px;
  padding: 80px 0 100px 0;
}
.pets__content {
  width: 1200px;
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pets__title {
  width: 400px;
  height: 90px;
  text-align: center;
}
.pets__slider {
  width: 990px;
  height: 435px;
  display: flex;
  justify-content: space-between;
}
.pets__link {
  width: 261px;
  height: 52px;
}
.pets__text {
  background-color: #F1CDB3;
}

.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFAFA;
  height: 435px;
  width: 270px;
}
.friend-card__name {
  margin-top: 30px;
  color: #545454;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 22.72px;
  letter-spacing: 0.06em;
  text-align: center;
}
.friend-card__link {
  margin-top: 30px;
  width: 187px;
  height: 52px;
}
.friend-card__text {
  border: 2px solid #F1CDB3;
}

.bottom-link {
  display: inline-block;
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  text-align: center;
}

.bottom-text {
  border-radius: 30px;
  padding: 15px 45px;
}

.circle {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.circle .imgarrow {
  padding: 23px 19px 23px 19px;
}

.help__inner {
  width: 1280px;
  height: 611px;
  margin: 0 auto;
}
.help__content {
  width: 1200px;
  height: 431px;
  margin: 80px 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.help__title {
  text-align: center;
}
.help__list {
  margin: 0 87px;
  width: 1026px;
  height: 281px;
}
.help__list-up {
  display: flex;
  justify-content: space-between;
}
.help__list-down {
  margin-top: 55px;
  display: flex;
  justify-content: space-around;
}

.el__box {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.el__text {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.donation__inner {
  margin: 0 auto;
  background-color: #F6F6F6;
  width: 1280px;
  height: 462px;
}
.donation__content {
  padding: 80px 182px 100px 182px;
  width: 915px;
  height: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donation__info {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.donation__sub-title {
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 16.5px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}
.donation__link {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
}
.donation__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
}
.donation__legal {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #B2B2B2;
}

.footer__inner {
  margin: 0 auto;
  background: url(/shelter/img/footer/footer-gradient-background.png);
  width: 1280px;
  height: 350px;
}
.footer__content {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 310px;
}
.footer__contacts {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 278px;
  height: 234px;
}
.footer__title {
  color: #FFFFFF;
  width: 279px;
}
.footer__location {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 302px;
  height: 234px;
}

.data img {
  margin-right: 20px;
}
.data_text {
  color: #F1CDB3;
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
}/*# sourceMappingURL=main.css.map */