.four {

  &__inner {
    background-color: #F8F200;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-top: 70px;
    padding-bottom: 80px;
  }

  &__left {
    max-width: 624px;
    max-height: 526px;
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  &__right {
    min-width: 624px;
    max-height: 526px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  &__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__details-link {
    width: 194px;
    height: 59px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
  }
}

